#ofertas,#destacados{
    width: calc(100vw - 210px);
}

#novedades{
    width: 100%;
    height: auto;
    max-height: 320px;
    margin: 10px auto 0;
    overflow: hidden;
}

#banner{
    width: 200%;
    display: flex;
    padding: 0;
    height: auto;
    max-height: 320px;
    

    animation: slider 14s infinite ease-in-out;
}

#banner li{
    width: 100%;
}

#banner li img{
    width: 100%;
}

@keyframes slider{
    20%{margin-left: 0%;}
    
    50%{margin-left: -100%;}
    70% {
        margin-left: -100%;
    }
    100%{margin-left: 0%;}
}

@keyframes scroll{
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-400px * 5 - 0.5rem * 10));
    }
}

.animate-scroll{
    animation: scroll 40s linear infinite;
}


@media (width < 458px){
    #ofertas,#destacados{
        width: 100%;
    }
}